* {
    margin: 0;
    padding: 0;
  }
  
  
  
  .jumbotron{
      position: relative;
      background-image: url('https://images.pexels.com/photos/953826/pexels-photo-953826.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
      background-size: cover;
      background-position: center;
      width: 100%;
      height: auto;
      color: aliceblue;
    }
   
   .footer-bg{
    height: 30vh;
    background-color: black;
    color: aliceblue;
    font-size: large;
    text-align: center;
   }